.contact_title {
    position: fixed;
    left: 120.5vh;
    top: 53vh;
    font-size: 4.8vh;
}
.for_contact {
    position: fixed;
    left: 121vh;
    font-size: 4.2vh;
    top: 62vh;
}
.phone_number {
    position: fixed;
    left: 121vh;
    top: 71vh;
    font-size: 4.2vh;
}
.addr {
    color: #2aa643;
}
.email {
    position: fixed;
    top: 80vh;
    left: 121vh;
    font-size: 4.2vh;

}
